.comment
  %p= comment.comment
  .author
    author:
    = link_to comment.user.username, comment.user
  = link_to "Edit comment", edit_post_comment_path(comment.post, comment)
  = link_to "Remove this comment", [comment.post, comment], method: :delete, data: {confirm: "Are you sure?"}
