/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  font-family: 'Roboto Condensed', sans-serif;
  min-width: 250px;
  background-color: #dee2e2;
}

.wrapper{
  width: 60%;
  max-width: 1000px;
  margin: 0 auto;
}

header{
    width: 60%;
    max-width: 1000px;
    margin: 0 auto;
    #logo{
      p{
        font-weight: bold;
        letter-spacing: -1px;
        font-size: 1.2rem;
      }

      a{
          font-size: 1.8em;
          text-decoration: none;
          color: black;
      }
    }

}

nav{
  text-align: center;
}

nav ul{
  list-style: none;
  background-color: #444;
  text-align: right;
  padding: 0;
  margin: 0;
}
nav li{
  text-align: center;
  line-height: 40px;
  height: 40px;
  display: inline;
  border-bottom: 1px solid black;
  transition: 3s background-color;
}

nav a{
  text-decoration: none;
  color: #fff;
  display: block;
}

nav li:hover > a {
  background-color: #C0DEE0;
}

nav a:active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and ( min-width: 420px ) {
  nav li {
    width: 8em;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    display: inline-block;
  }
}

.notice{
  margin-top: 0;
  padding-left: 5%;
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  background: #fde073;
  text-align: left;
  line-height: 2;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;
}

.alert{
  margin-top: 0;
  padding-left: 5%;
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  background: #fc8e88;
  text-align: left;
  line-height: 2.5;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;
}
